.article-body {
  width: 100%;
}

.article-body h1{
  font-size: 24px;
}

.article-body p{
  font-weight: 300;
}

.article-body p img{
  max-height: 400px;
  margin: auto;
}

.article-body u{
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.article-body blockquote {
  border-left: 3px solid #f8ccc4;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-left: 16px;
  font-size: 20px;
  font-weight: 400;
}

.article-body ul li {
  list-style: disc;
  font-weight: 300;
  margin-left: 30px;
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: end;
}

.article-body .ql-indent-1 {
  padding-left: 3em;
}
.article-body .ql-indent-2 {
  padding-left: 6em;
}
.article-body .ql-indent-3 {
  padding-left: 9em;
}
.article-body .ql-indent-4 {
  padding-left: 12em;
}
.article-body .ql-indent-5 {
  padding-left: 15em;
}
.article-body .ql-indent-6 {
  padding-left: 18em;
}
.article-body .ql-indent-7 {
  padding-left: 21em;
}
.article-body .ql-indent-8 {
  padding-left: 24em;
}